:root {
    --color-wt: #ced8da;
    --color-wt-darker: #b9c2c4;
    --color-primary: #0B3D44;
    --color-pimrary-dark: #0a373d;
    --color-primary-light: #0b3d44;
    --color-secondary: #D9652E;
    --color-secondary-dark: #c35b29;
    --color-secondary-light: #dd7443;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    color: var(--color-wt);
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url('./assets/background-lightning.jpg');
    background-size:100%;
    background-repeat: no-repeat;
    background-position: 50% 10%;
    overflow: hidden;
    position: relative;
    /* max-height: 100vh; */
    /* min-height: 80rem; */
}


.main-body {

    max-width: 140rem;
    margin: 5rem auto;
}

.container{
    max-width: 120rem;
}

.heading-primary {
    font-size: 10rem;
    letter-spacing: -2px;
    font-weight: 500;
    font-style: italic;
}

.content-container {
    max-width: 100%;
    background-color: var(--color-primary);
    height: 40vh;
    position: relative;
    /* Temp */
    top: 100rem;
    left: 0;
    z-index: 50;
    transition: top 500ms ease-in-out;
    padding: 5rem 10rem 5rem 10rem;

}

.content-container::after {
    content: '';
    width: 200%;
    height: 100rem;
    background-color: var(--color-primary);
    transform: translateX(-22%);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    box-shadow: 0 -6rem var(--color-secondary);
    position: absolute;
    top: -10rem;
    left: 0;    
    z-index: -1;
}

.back-btn {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 35px solid #efefef;
    position: absolute;
    top: -14.5rem;
    left: 50%;
    z-index: 100;
    cursor: pointer;
    transition: transform 300ms ease-in;
    border-bottom: 0;
    cursor: pointer;
}

.back-btn:hover {
    transform: translateY(1rem);
    border-top: 35px solid #e2e0e0;
}

.main-data {
    font-size: 2.6rem;
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;
}

.city {
    font-size: 4rem;
}
/* List */

.current-info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem
}

.current-info--item {

}

.country {
    
}

.city {

}

.current-temp {
    font-size: 3rem;
}

.condition {

}

.feels-like {

}

.current-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 10rem;
}
.current-list--item {

}

.icon {
    
}








/* end list */
.form-container {
    background-color: var(--color-secondary);
    padding: 0 1rem 1rem 0;
    margin-top: 10rem;
    display: inline-block;
    border-radius: 8px;
    transition: all 350ms ease-in-out;
    cursor: pointer;
}

.form-container:hover {
    background-color: var(--color-secondary-dark);
}

.form-container:active {
    transform: scale(105%)
}

.form-container:focus-within {
    box-shadow: 0 2px 0 #000 ,0 10px 10px var(--color-pimrary-dark)
}

.input-city {
    font-size: 2.5rem;
    background-color: var(--color-wt);
    padding: 1rem;
    border: none;
    border-radius: 8px 0 8px 8px;
}

.input-city:focus {
    outline: none;
}

.submit-btn {
    padding: .8rem;
    padding-left: 1rem;
    font-size: 2rem;
    color: var(--color-wt);
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    font-size: 1.4rem;
    
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

footer .email {
    margin-left: 1rem;
}

a:link,
a:visited {
    text-decoration: none;
    color: inherit;
    transition: color 250ms ease-out;
    font-weight: 500;
}

a:hover,
a:active {
    color: var(--color-wt-darker)
}

